.env
*.sw*
Gopkg.lock

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#*.*#
*.*~
*.*.sw*
*.test
*.log
*.exe
.idea

!Gopkg.toml
.env.vscode
test
.env
vendor
temp.*
*vscode*

docker-compose-redis.yml
docker-compose-rabbit.yml